# Sistema operacional
.DS_Store
Thumbs.db
index.html
gerador_linha_deltas_refatorado.html

# IDEs/editores
.idea/
.vscode/

# Logs
*.log

# Node/Build
node_modules/
dist/
build/

# Composer
vendor/

# Arquivos compactados
*.zip
